.select-container {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    // 日期显示的输入框
    .datetime-input {
        width: 200px;
        height: 30px;
        outline: none;
        border: 1px solid #E5E8E8;
        border-radius: 3px;
        padding: 0px 10px;
        font-size: 13px;
    }
    // 日期下拉框
    .datetime-list-container {
        position: absolute;
        z-index: 999;
        margin-top: -1px;
        width: 100%;
        border: 1px solid #E5E8E8;
        box-sizing: border-box;
        // box-shadow: 0px 3px #f0f0f0;
    }
}